
* {
    box-sizing: border-box;
}

:root {
    --crimson: #990000;
}

main {
    width: 90%;
    margin: 0 auto;
}

.subsec > h1 {
    text-align: center;
}

#profile {
    width: 190px;
    height: 190px;
    border: var(--crimson) 2px solid;
}

.contact-info, .contact-info > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#certs > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#certs li > strong {
    margin-right: 0.25rem;
}

.icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.25rem;
}